<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sxhy.saas.repo.arrepo.ARMapperDao">

    <!--ar主题操作sql-->

    <resultMap id="baseMap" type="com.sxhy.saas.entity.arbean.ArThemeManagement">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="ar_theme_name" jdbcType="VARCHAR" property="arThemeName"/>
        <result column="ar_theme_describe" jdbcType="VARCHAR" property="arThemeDescribe"/>
        <result column="ar_theme_img_url" jdbcType="VARCHAR" property="arThemeImgUrl"/>
        <result column="ar_theme_active" jdbcType="INTEGER" property="arThemeActive"/>
        <result column="ar_theme_start_time" jdbcType="TIMESTAMP" property="arThemeStartTime"/>
        <result column="ar_theme_end_time" jdbcType="TIMESTAMP" property="arThemeEndTime"/>
        <result column="ar_theme_keyword" jdbcType="VARCHAR" property="arThemeKeyword"/>
        <result column="c_user_id" jdbcType="INTEGER" property="cUserId"/>
        <result column="delete_num" jdbcType="INTEGER" property="deleteNum"/>
    </resultMap>


    <select id="getARThemeById" resultMap="baseMap">
        select * from ar_theme_management where id = #{id , jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="baseMap">
        select * from ar_theme_management where delete_num = 0
    </select>

    <update id="updateArThemeSerByParKey" parameterType="com.sxhy.saas.entity.arbean.ArThemeManagement">
        UPDATE ar_theme_management
        <set>
            <if test="null != arThemeName">ar_theme_name = #{arThemeName , jdbcType=VARCHAR},</if>
            <if test="null != arThemeActive">ar_theme_active = #{arThemeActive , jdbcType=INTEGER},</if>
            <if test="null != arThemeDescribe">ar_theme_describe = #{arThemeDescribe , jdbcType=VARCHAR},</if>
            <if test="null != arThemeImgUrl">ar_theme_img_url = #{arThemeImgUrl , jdbcType=VARCHAR},</if>
            <if test="null != arThemeStartTime">ar_theme_start_time = #{arThemeStartTime , jdbcType=TIMESTAMP},</if>
            <if test="null != arThemeEndTime">ar_theme_end_time = #{arThemeEndTime , jdbcType=TIMESTAMP},</if>
            <if test="null != arThemeKeyword">ar_theme_keyword = #{arThemeKeyword , jdbcType=VARCHAR},</if>
            <if test="null != cUserId">c_user_id = #{cUserId , jdbcType=INTEGER},</if>
            <if test="null != deleteNum">delete_num = #{deleteNum , jdbcType=INTEGER},</if>
        </set>
        where id = #{id , jdbcType=INTEGER}
    </update>

    <insert id="addARTheme" parameterType="com.sxhy.saas.entity.arbean.ArThemeManagement">
        INSERT INTO ar_theme_management
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="arThemeName != null">
                ar_theme_name,
            </if>
            <if test="arThemeActive != null">
                ar_theme_active,
            </if>
            <if test="arThemeDescribe != null">
                ar_theme_describe,
            </if>
            <if test="arThemeImgUrl != null">
                ar_theme_img_url,
            </if>
            <if test="arThemeStartTime != null">
                ar_theme_start_time,
            </if>
            <if test="arThemeEndTime != null">
                ar_theme_end_time,
            </if>
            <if test="arThemeKeyword != null">
                ar_theme_keyword,
            </if>
            <if test="cUserId != null">
                c_user_id,
            </if>
            <if test="deleteNum != null">
                delete_num,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id , jdbcType=INTEGER},
            </if>
            <if test="arThemeName != null">
                #{arThemeName , jdbcType=VARCHAR},
            </if>
            <if test="arThemeActive != null">
                #{arThemeActive , jdbcType=INTEGER},
            </if>
            <if test="arThemeDescribe != null">
                #{arThemeDescribe , jdbcType=VARCHAR},
            </if>
            <if test="arThemeImgUrl != null">
                #{arThemeImgUrl , jdbcType=VARCHAR},
            </if>
            <if test="arThemeStartTime != null">
                #{arThemeStartTime , jdbcType=TIMESTAMP},
            </if>
            <if test="arThemeEndTime != null">
                #{arThemeEndTime , jdbcType=TIMESTAMP},
            </if>
            <if test="arThemeKeyword != null">
                #{arThemeKeyword , jdbcType=VARCHAR},
            </if>
            <if test="cUserId != null">
                #{cUserId , jdbcType=INTEGER},
            </if>
            <if test="deleteNum != null">
                #{deleteNum , jdbcType=INTEGER},
            </if>
        </trim>
    </insert>


    <resultMap id="arChartBase" type="com.sxhy.saas.entity.arbean.ArCharManagement">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="ar_chart_image_id" jdbcType="VARCHAR" property="arChartImageId"/>
        <result column="c_user_id" jdbcType="INTEGER" property="cUserId"/>
        <result column="ar_chart_create_time" jdbcType="TIMESTAMP" property="arChartCreateTime"/>
        <result column="delete_num" jdbcType="INTEGER" property="deleteNum"/>
        <result column="ar_model_id" jdbcType="INTEGER" property="arModelId"/>
        <result column="out_url" jdbcType="VARCHAR" property="outUrl"/>
        <result column="ar_theme_id" jdbcType="INTEGER" property="arThemeId"/>
        <result column="ar_chart_image_url" jdbcType="VARCHAR" property="arChartImageUrl"/>
    </resultMap>


    <select id="getAllARChart" resultMap="arChartBase">
        select * from ar_chart_management
    </select>

    <update id="updateARTarget" parameterType="com.sxhy.saas.entity.arbean.ArCharManagement">
        UPDATE ar_chart_management
        <set>
            <if test="null != arModelId">ar_model_id = #{arModelId , jdbcType=INTEGER},</if>
            <if test="null != cUserId">c_user_id = #{cUserId , jdbcType=INTEGER},</if>
            <if test="null != arChartCreateTime">ar_chart_create_time = #{arChartCreateTime , jdbcType=TIMESTAMP},</if>
            <if test="null != deleteNum">delete_num = #{deleteNum , jdbcType=TIMESTAMP},</if>
            <if test="null != arThemeId">ar_theme_id = #{arThemeId , jdbcType=INTEGER},</if>
            <if test="null != outUrl">out_url = #{outUrl , jdbcType=VARCHAR},</if>
            <if test="null != arChartImageUrl">ar_chart_image_url = #{arChartImageUrl , jdbcType=VARCHAR},</if>
        </set>
        where ar_chart_image_id = #{arChartImageId , jdbcType=VARCHAR}
    </update>


    <update id="updateARChartSerByParKry" parameterType="com.sxhy.saas.entity.arbean.ArCharManagement">
        UPDATE ar_chart_management
        <set>
            <if test="null != arChartImageId">ar_chart_image_id = #{arChartImageId , jdbcType=INTEGER},</if>
            <if test="null != arModelId">ar_model_id = #{arModelId , jdbcType=INTEGER},</if>
            <if test="null != cUserId">c_user_id = #{cUserId , jdbcType=INTEGER},</if>
            <if test="null != arChartCreateTime">ar_chart_create_time = #{arChartCreateTime , jdbcType=TIMESTAMP},</if>
            <if test="null != deleteNum">delete_num = #{deleteNum , jdbcType=TIMESTAMP},</if>
            <if test="null != arThemeId">ar_theme_id = #{arThemeId , jdbcType=INTEGER},</if>
            <if test="null != outUrl">out_url = #{outUrl , jdbcType=VARCHAR},</if>
            <if test="null != arChartImageUrl">ar_chart_image_url = #{arChartImageUrl , jdbcType=VARCHAR},</if>
        </set>
        where id = #{id , jdbcType=INTEGER}
    </update>


    <!--展示内容管理-->

    <resultMap id="arModelBase" type="com.sxhy.saas.entity.arbean.ArModelManagement">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="ar_model_url" jdbcType="VARCHAR" property="arModelUrl"/>
        <result column="c_user_id" jdbcType="INTEGER" property="cUserId"/>
        <result column="ar_model_create_time" jdbcType="TIMESTAMP" property="arModelCreateTime"/>
        <result column="ar_model_name" jdbcType="VARCHAR" property="arModelName"/>
        <result column="delete_num" jdbcType="INTEGER" property="deleteNum"/>
        <result column="ar_model_type" jdbcType="VARCHAR" property="arModelType"/>
        <result column="ar_model_active" jdbcType="INTEGER" property="arModelActive"/>
        <result column="out_url" jdbcType="VARCHAR" property="outUrl"/>
        <result column="test_setting" jdbcType="INTEGER" property="testSetting"/>
    </resultMap>

    <insert id="addARModel" parameterType="com.sxhy.saas.entity.arbean.ArModelManagement" useGeneratedKeys="true"
            keyProperty="id">
        insert into ar_model_management
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="cUserId != null">
                c_user_id,
            </if>
            <if test="arModelUrl != null">
                ar_model_url,
            </if>
            <if test="arModelName != null">
                ar_model_name,
            </if>
            <if test="arModelCreateTime != null">
                ar_model_create_time,
            </if>
            <if test="deleteNum != null">
                delete_num,
            </if>
            <if test="arModelType != null">
                ar_model_type,
            </if>
            <if test="arModelActive != null">
                ar_model_active,
            </if>
            <if test="outUrl != null">
                out_url,
            </if>
            <if test="testSetting != null">
                test_setting,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id , jdbcType=INTEGER},
            </if>
            <if test="cUserId != null">
                #{cUserId , jdbcType=INTEGER},
            </if>
            <if test="arModelUrl != null">
                #{arModelUrl , jdbcType=VARCHAR},
            </if>
            <if test="arModelName != null">
                #{arModelName , jdbcType=VARCHAR},
            </if>
            <if test="arModelCreateTime != null">
                #{arModelCreateTime , jdbcType=TIMESTAMP},
            </if>
            <if test="deleteNum != null">
                #{deleteNum , jdbcType=INTEGER},
            </if>
            <if test="arModelType != null">
                #{arModelType , jdbcType=VARCHAR},
            </if>
            <if test="arModelActive != null">
                #{arModelActive , jdbcType=INTEGER},
            </if>
            <if test="outUrl != null">
                #{outUrl , jdbcType=VARCHAR},
            </if>
            <if test="testSetting != null">
                #{testSetting , jdbcType=INTEGER},
            </if>
        </trim>
    </insert>


    <select id="getARModleList" resultMap="arModelBase">
        select * from ar_model_management
    </select>

    <select id="getARModel" resultMap="arModelBase">
        select * from ar_model_management where id = #{id , jdbcType=INTEGER}
    </select>

    <update id="updateArModelSerByParKey" parameterType="com.sxhy.saas.entity.arbean.ArModelManagement">
        UPDATE ar_theme_management
        <set>
            <if test="null != cUserId">c_user_id = #{cUserId , jdbcType=VARCHAR},</if>
            <if test="null != arModelName">ar_model_name = #{arModelName , jdbcType=INTEGER},</if>
            <if test="null != arModelUrl">ar_model_url = #{arModelUrl , jdbcType=VARCHAR},</if>
            <if test="null != arModelCreateTime">ar_model_create_time = #{arModelCreateTime , jdbcType=TIMESTAMP},</if>
            <if test="null != deleteNum">delete_num = #{deleteNum , jdbcType=INTEGER},</if>
            <if test="null != arModelType">ar_model_type = #{arModelType , jdbcType=VARCHAR},</if>
            <if test="null != arModelActive">ar_model_active = #{arModelActive , jdbcType=INTEGER},</if>
            <if test="null != testSetting">test_setting = #{testSetting , jdbcType=INTEGER},</if>
            <if test="null != outUrl">out_url = #{outUrl , jdbcType=VARCHAR},</if>
        </set>
        where id = #{id , jdbcType=INTEGER}
    </update>


    <!--素材管理-->
    <resultMap id="arFileBase" type="com.sxhy.saas.entity.arbean.FileTable">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="file_type" jdbcType="VARCHAR" property="fileType"/>
        <result column="c_user_id" jdbcType="INTEGER" property="cUserId"/>
        <result column="file_url" jdbcType="VARCHAR" property="fileUrl"/>
        <result column="file_key" jdbcType="VARCHAR" property="fileKey"/>
    </resultMap>

    <insert id="addFile" parameterType="com.sxhy.saas.entity.arbean.FileTable" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO file_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="fileType != null">
                file_type,
            </if>
            <if test="fileUrl != null">
                file_url,
            </if>
            <if test="cUserId != null">
                c_user_id,
            </if>
            <if test="fileKey != null">
                file_key,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id , jdbcType=INTEGER},
            </if>
            <if test="fileType != null">
                #{fileType , jdbcType=VARCHAR},
            </if>
            <if test="fileUrl != null">
                #{fileUrl , jdbcType=VARCHAR},
            </if>
            <if test="cUserId != null">
                #{cUserId , jdbcType=INTEGER},
            </if>
            <if test="fileKey != null">
                #{fileKey , jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="getFileList" resultMap="arFileBase">
        select * from file_table
        <where>
            <if test="fileType != null and fileType != ''">
                file_type = #{fileType , jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectFileById" resultMap="arFileBase">
        select * from file_table where id = #{id , jdbcType=INTEGER}
    </select>

</mapper>